# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/*.duckdb
dbt_project/*.duckdb.wal

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store

# IDE
.vscode/

# Airflow
airflow/logs/
airflow/plugins/

# Data files (generated, not tracked)
data_generation/output/

# Airflow
airflow/.env
airflow/logs/
airflow/config/
